{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Soundtionary!</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <script type="text/javascript" src="{% static 'assets/AgoraRTC_N-4.14.0.js' %}"></script> 
    <script type="text/javascript" src="{% static 'js/stream.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/client.js' %}"></script>
  </body>
</html>
