{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>🎶 Soundtionary!</title>
    <!-- <link rel="stylesheet" href="style.css" /> -->
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.24.0/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      type="text/javascript"
      src="{% static 'assets/AgoraRTC_N-4.14.0.js' %}"
    ></script>
    <script
      type="typescript/javascript"
      src="{% static 'js/client.js' %}"
    ></script>
    <!-- <script type="module" src="{% static 'js/stream.js' %}"></script> -->
    <script type="text/typescript" src="{% static 'js/client.js' %}"></script>
  </head>

  <body>
    <h1 class="font-extrabold text-3xl m-4">
      <a href="{% url 'index' %}">Soundtionary 🎶</a>
    </h1>
    <div class="flex">
      <div class="card bg-base-300 w-1/3 m-3">
        <div class="card-body">
          <h2 class="font-bold">Time remaining</h2>
          <span class="countdown">
            <span style="--value: 51"></span>
          </span>
          <div class="overflow-x-auto w-full">
            <table class="table w-full">
              <!-- head -->
              <thead>
                <tr>
                  <th>Rank</th>
                  <th>Player</th>
                  <th>Score</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <!-- row 1 -->
                <tr>
                  <th>#0</th>
                  <td>
                    <div class="flex items-center space-x-3">
                      <div class="avatar">
                        <div class="mask mask-squircle w-12 h-12">
                          <img
                            src="https://avatars.dicebear.com/api/adventurer/lol.svg"
                            alt="Avatar Tailwind CSS Component"
                          />
                        </div>
                      </div>
                      <div>
                        <div class="font-bold">Hart Hagerty</div>
                      </div>
                    </div>
                  </td>
                  <td>10</td>
                  <td>🔊</td>
                </tr>
                <!-- row 2 -->
                <tr>
                  <th>#0</th>
                  <td>
                    <div class="flex items-center space-x-3">
                      <div class="avatar">
                        <div class="mask mask-squircle w-12 h-12">
                          <img
                            src="https://avatars.dicebear.com/api/adventurer/haha.svg"
                            alt="Avatar Tailwind CSS Component"
                          />
                        </div>
                      </div>
                      <div>
                        <div class="font-bold">Brice Swyre</div>
                      </div>
                    </div>
                  </td>
                  <td>10</td>
                  <td></td>
                </tr>
                <!-- row 3 -->
                <tr>
                  <th>#0</th>
                  <td>
                    <div class="flex items-center space-x-3">
                      <div class="avatar">
                        <div class="mask mask-squircle w-12 h-12">
                          <img
                            src="https://avatars.dicebear.com/api/adventurer/hmm.svg"
                            alt="Avatar Tailwind CSS Component"
                          />
                        </div>
                      </div>
                      <div>
                        <div class="font-bold">LrnzDc</div>
                      </div>
                    </div>
                  </td>
                  <td>10</td>
                  <td></td>
                </tr>
                <!-- row 4 -->
                <tr>
                  <th>#0</th>
                  <td>
                    <div class="flex items-center space-x-3">
                      <div class="avatar">
                        <div class="mask mask-squircle w-12 h-12">
                          <img
                            src="https://avatars.dicebear.com/api/adventurer/yoo.svg"
                            alt="Avatar Tailwind CSS Component"
                          />
                        </div>
                      </div>
                      <div>
                        <div class="font-bold">Skyhero</div>
                      </div>
                    </div>
                  </td>
                  <td>10</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- Chat Box -->
      <div id="dialogue" class="card bg-base-300 w-2/3">
        <div class="alert alert-info w-fit m-2">
          <div>
            <small>Skyhero</small>
            <span>Is it cheap thrills ?</span>
          </div>
        </div>
        <div class="alert alert-success w-fit m-2">
          <div>
            <small>LrnzDc</small>
            <span>Happier</span>
          </div>
        </div>

        <div class="absolute place-self-center bottom-0 flex">
          <input
            type="text"
            placeholder="Type here"
            class="input input-bordered w-full max-w-md m-3"
          />
          <button class="btn btn-primary m-3">Send</button>
        </div>
      </div>
    </div>
  </body>

  <script>
    function woah() {
      let data = check();
      function message(data) {
        document
          .getElementById("dialogue")
          .append(
            '<div class="alert alert-info w-fit m-2">' +
              "<div>" +
              "<small>data.user</small>" +
              "<span>data.message</span>" +
              "</div>" +
              "</div>"
          );
        console.log(data);
      }pytho
    }

    setInterval(woah(), 1000);
  </script>
</html>
